<%= form_for(locals[:line_item], url: line_items_update_quantity_path(locals[:line_item]), method: :post) do |f| %>
    <div class="input-group">
      <%= f.number_field :qty, :value => locals[:line_item].quantity, :class => 'form-control'%>
      <span class="input-group-btn">
        <%= f.submit "Change", :class => 'btn btn-default' %>
      </span>
    </div>
<% end %>
